<div class="graph-area" #graphArea>
  <h2>{{islandName || '-------'}}島のカブ価</h2>
  <app-market-chart class="graph" *ngIf="data && !noData && !loading" [data]="data" [basePrice]="basePrice"></app-market-chart>

  <div class="dummy" *ngIf="loading || noData">
    <div class="graph-dummy">
      <div class="no-data" *ngIf="noData">データがありません</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
</div>

<div class="input-group" *ngIf="!loading && noData">
  <a class="btn" routerLink="/edit">カブ価を入力する</a>
</div>
