<div class="graph-area" #graphArea>
  <h2>{{islandName || '-------'}}島のカブ価</h2>
  <app-market-chart class="graph" *ngIf="data && !noData && !loading" [data]="data" [basePrice]="basePrice"></app-market-chart>

  <div class="dummy" *ngIf="loading || noData">
    <div class="graph-dummy">
      <div class="no-data" *ngIf="noData">データがありません</div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
</div>

<div class="input-group" *ngIf="!loading && noData">
  <a class="btn" routerLink="/edit">カブ価を入力する</a>
</div>

<div class="announcement" *ngIf="isAnnouncementShown">
  <div class="balloon">
    <h2>ホーム画面に追加をすると便利です</h2>
    <div class="description">
      毎日カブ価をメモしやすくするために、<br>
      ホーム画面に追加しましょう！
    </div>
    <button class="btn close" (click)="closeAnnouncement()">閉じる</button>
  </div>
</div>
