\:host
  display: block
  padding: 16px
  width: 100vw
  overflow-x: hidden

.graph-area
  background-color: #ffffff
  border-radius: 10px
  padding: 16px 16px 8px
  margin-bottom: 8px

  h2
    font-size: 12px
    text-align: center
    color: #616161
    font-weight: normal
    margin-bottom: 2px

  .graph
    width: 100%

.dummy
  display: block
  position: relative

  &:after
    content: ''
    display: block
    padding-top: 56.25%

  .graph-dummy
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    padding-bottom: 20px

    .no-data
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      padding-bottom: 20px
      color: #616161
      font-weight: bold

    .col
      flex: 1
      background-color: #E8D4BD

      &:nth-child(odd)
        background-color: #FFEFDD

.input-group
  background-color: #fff
  border-radius: 10px
  padding: 16px
  margin-bottom: 8px

  .license
    text-align: center
    font-size: 10px
    font-weight: normal

    .logo
      height: 50px
      width: 50px
      background-color: #e0e0e0
      margin: 0 auto 8px

  .title
    font-size: 12px
    margin-bottom: 4px

$button-color: #6D985A
.btn
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 40px
  border-radius: 5px
  border: none
  background-color: $button-color
  color: #ffffff
  font-size: 16px
  font-weight: bold
  text-decoration: none

  &:not(:last-child)
    margin-bottom: 8px

  &:active
    background-color: darken($button-color, 10%)
