<div class="header">
  <div class="row">
    <a class="back-button-container" [routerLink]="getPreviousUrl()" *ngIf="history.length > 1">
      <fa-icon [icon]="faChevronLeft" size="1x"></fa-icon>
    </a>
    <a href="/" class="title">カブベル</a>
  </div>
</div>

<router-outlet></router-outlet>

<div class="footer">
  <div class="row">
    <a class="button" routerLink="" routerLinkActive="selected" [routerLinkActiveOptions]="{ exact: true }">
      <div class="icon"><fa-icon [icon]="faChartLine"></fa-icon></div>
      <div class="label">チャート</div>
    </a>

    <a class="button" routerLink="/edit" routerLinkActive="selected">
      <div class="icon"><fa-icon [icon]="faEdit"></fa-icon></div>
      <div class="label">編集</div>
    </a>

    <a class="button" routerLink="/settings" routerLinkActive="selected">
      <div class="icon"><fa-icon [icon]="faCog"></fa-icon></div>
      <div class="label">その他</div>
    </a>
  </div>
</div>
