$header-height: 44px

\:host
  display: block
  //min-height: 100vh
  background-color: #E4E6D6
  padding-top: $header-height

.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 44px
  background-color: #2AB766
  display: flex
  align-items: center
  justify-content: center
  z-index: 100

  a
    color: #ffffff
    text-decoration: none
    font-weight: bold
